<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Browse Categories
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <% @categories.each do |category| %>
    <a class="dropdown-item" href="/products/bycategory/<%= category.id %>"><%= category.name %></a>
  <% end %>
  </div>
</div>
<a class="btn btn-primary"  href= "/products/search/" type="button">Search For Items</a>



<%= render 'products' %>

<%= paginate @products %>

